body {
	background-color: #44318D;	
	margin:0;
	padding:0;
	font-family: sans-serif;
}
.header {						
	width: 100%;
	background-color: #D83F87;
}
#playStopButton {
    background-color: #de793a;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
}

#playStopButton:active {
   background: #ffffff;
}

div {
    font-size: 1.5em;
}



.playStopButton {
    background-color: #e09236;
    border: none;
    color: #ffffff;
    font-size: 0.8em;
    padding: 0.5em 1.5em;
    font-size: 2em;
}

.playStopButton:active {
   background: #ffffff;
}

#canvas {
	position: absolute;
	top: 200px;
	left: 400px;
	background-color: #135056;
	background-image: url("background1.png")
}

#status {
	left: 420px;
	
	padding: 10px;
	position: absolute;
	color: #000000;
	background-color: #FFFFFF;
}
